{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'progresscard.css' %}" rel="stylesheet" />
    <title>Document</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

    
</head>
<body>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #ccc;
        }

        .container{
            max-width: 900px;
            margin: auto;
            
        }


        .page[size="A4"] {
            margin-top: 50px;
            width: 21 cm;
            height: 29.7cm;
            /* overflow-x: hidden ; */
            background-color: white;
            border: 2px solid black;
        }

        .header {
            display: flex;
            margin: 30px;
            text-align: center;
            
        }
        .school_name{
            color: darkslateblue;
        }

        .school_info{
            color: darkkhaki;
        }

        .school_stamp{
        
        
            height: 183px;
            width: 20%;
            border: 1px solid black;
        }

        .textfield {
            
            border: 1px solid black;

            flex-grow: 1;
            height: 183px;
            
        }

        .student_image {
        
            border: 1px solid black;

            height: 183px;
            width: 20%;
        }

        .schoolcontainer{
            margin-top: 15px;
        }

        .student_details_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 15px;
        
        }

        .student_data_left {
        
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            border-left: none;
            border-right: none;
            border-bottom: none;
            
        }

        .student_data_right {
        
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        
            border-right: none;
            border-bottom: none;
            
        }

        .regclass_container {
            display: flex;
        }

        .regclass_item {
            border: 1px solid black;
            flex-grow: 1;
            padding: 5px;
        }

        .table1_container{
            margin: 30px;
        }

        .table_heading{
            color: darkslateblue;
        }

        table, th, td{
            border-collapse: collapse;
            text-align: center;
            
        }

        .overall_container{
            display: flex;
            margin: 30px;
            
        }

        .overall_item{
            flex-grow: 1;
            padding: 5px;
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
            background-color: beige;
        }



        .chart_container {
            display: flex;

            margin: 30px;
            flex-grow: 1;
        
        }

        .marks_chart{
            width: 450px;
            position: relative;
        }









        .labels {
            
            display: flex;
            flex-grow: 1;

            flex-direction: column ;
            gap: 10px;
            justify-content: center;
        
            
        }




        .excellent {
            width: 30px;
            height: 30px;
            background-color: green;
            
            
        }

        .good {
            width: 30px;
            height: 30px;
            background-color: blue;
            
            
        }

        .need_improvements {
            width: 30px;
            height: 30px;
            background-color: red;
            
            
        } 


        .ex_container{
            display: flex;
        }

        .gd_container{
            display: flex;
        }

        .red_container{
            display: flex;
        }

        .last_table{
            margin: 30px;
        }


        .footer{
            
            height: 80px;
            display: flex;
            margin: 30px;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;
            
        }

        .parent{
            text-align: center;
            width: 150px;
        }

        .teacher{
            text-align: center;
            width: 150px;
        }

        .principle {
            text-align: center;
            width: 150px;
        }

    </style>
    

    <div class="container" id="althaf">
        <div class="page" size="A4" >
            <div class="header">
                <div class="school_stamp">Stamp Field</div>
                <div class="textfield">
                    <div class="schoolcontainer">
                        <h2 class="school_name">St. Anthony’s High School  - Vidyanagar</h1>
                            <h4 class="school_info">Vidya Nagar Colony, Pothireddypally, sangareddy, Telegana,</h4>
                            <h5 class="school_info">(Recog.by the Govt of Ts)</h5>

                    </div>
                   
                    <div class="student_details_container">
                        <div class="student_data_left">Student Name</div>
                        <div class="student_data_right">2</div>
                        <div class="student_data_left">Father Name</div>
                        <div class="student_data_right">4</div>
                    </div>
                    <div class="regclass_container">
                        <div class="regclass_item">Reg.No.</div>
                        <div class="regclass_item">2</div>
                        <div class="regclass_item">Class</div>
                        <div class="regclass_item">4</div>
                    </div>

                </div>
                <div class="student_image">Student Photo here</div>
            </div>
            <div class="table1_container">
                
                <table border="1" width="100%" >
                    <thead>
                        <tr>
                            <th class="table_heading" colspan="6" >RESULT - SA -2 (Month & Year : Apr 2023)</th>
                        </tr>
                        <tr>
                            <th rowspan="2">Subjects</th>
                            <th>Marks
                                <table border="1" width="100%">
                                    <tr>
                                        <th>Max marks</th>
                                        <th>Marks secured</th>
                                    </tr>
                                </table>
                            </th>
                            <th rowspan="2">marks for 100</th>
                            <th>Grades
                                <table border="1" width="100%">
                                    <tr>
                                        <th>Subject Grade</th>
                                        <th>Grade Point</th>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Telugu</td>
                            <td>
                                <table width="100%" border="1">
                                    <tr>
                                        <td>Max marks 1</td>
                                        <td>Marks secured 1</td>
                                    </tr>

                                </table>
                            </td>
                            <td>Marks for 100 1</td>
                            <td>
                                <table width="100%" border="1">
                                    <tr>
                                        <td>subject Grade 1</td>
                                        <td>Grade Point 1</td>
                                    </tr>

                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td>Hindi</td>
                            <td>
                                <table width="100%" border="1">
                                    <tr>
                                        <td>Max marks 2</td>
                                        <td>Marks secured 2</td>
                                    </tr>

                                </table>
                            </td>
                            <td>Marks for 100 2</td>
                            <td>
                                <table width="100%" border="1">
                                    <tr>
                                        <td>subject Grade 2</td>
                                        <td>Grade Point 2</td>
                                    </tr>

                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td>Maths</td>
                            <td>
                                <table width="100%" border="1">
                                    <tr>
                                        <td>Max marks 3</td>
                                        <td>Marks secured 3</td>
                                    </tr>

                                </table>
                            </td>
                            <td>Marks for 100 3</td>
                            <td>
                                <table width="100%" border="1">
                                    <tr>
                                        <td>subject Grade 3</td>
                                        <td>Grade Point 3</td>
                                    </tr>

                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td>ELGA</td>
                            <td>
                                <table width="100%" border="1">
                                    <tr>
                                        <td>Max marks 4</td>
                                        <td>Marks secured 4</td>
                                    </tr>

                                </table>
                            </td>
                            <td>Marks for 100 4</td>
                            <td>
                                <table width="100%" border="1">
                                    <tr>
                                        <td>subject Grade 4</td>
                                        <td>Grade Point 4</td>
                                    </tr>

                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td>EVS</td>
                            <td>
                                <table width="100%" border="1">
                                    <tr>
                                        <td>Max marks 5</td>
                                        <td>Marks secured 5</td>
                                    </tr>

                                </table>
                            </td>
                            <td>Marks for 100 5</td>
                            <td>
                                <table width="100%" border="1">
                                    <tr>
                                        <td>subject Grade 5</td>
                                        <td>Grade Point 5</td>
                                    </tr>

                                </table>

                            </td>
                        </tr>
                        
                    </tbody>
                    
                  </table>
            </div>
            <div class="overall_container">
                <div  class="overall_item">overall Result</div>
                <div class="overall_item">Grade-A2</div>
                <div class="overall_item">GPA - 8.6 out of 10</div>
            </div>
            <div class="chart_container">
                <div class="marks_chart">
                    <canvas id="myChart" ></canvas>
                </div>
                <div class="labels">
                    <div class="ex_container">
                        <div class="excellent"></div>
                        <p>Excellent</p>
                    </div>
                    <div class="gd_container">
                        <div class="good"></div>
                        <p>Good     </p>
                    </div>
                    <div class="red_container">
                        <div class="need_improvements"></div>
                        <p>Need Imporvements</p>
                    </div>
                </div>
            </div>
            <div class="last_table">
                <table border="1" width="100%">
                    <tr>
                        <th >General Remarks</th>
                        <th>Month</th>
                        <th>Mar</td>
                        <th>Apr</td>
                        <th>Total</th>
                        <th>Percentage</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td rowspan="2">Excellent</td>
                            <th>No.of working days</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                
                        </tr>
                        <tr>
                            <th>No.of days present</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>

                        <tr>
                            <td rowspan="10">Work hard in evs</td>
                            <th colspan="5">CCE Grade Point Legend</th>

                        </tr>
                        <tr>
                            <th>Hindi</th>
                            <th>Except Hindi</th>
                            <th></th>
                            <th>Grade</th>
                            <th>Grade Point</th>
                        </tr>
                        <tr>
                            <td>90-100</td>
                            <td>91-100</td>
                            <td></td>
                            <td>A1</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>79-89</td>
                            <td>81-90</td>
                            <td></td>
                            <td>A2</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>68-78</td>
                            <td>71-80</td>
                            <td></td>
                            <td>B1</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>57-67</td>
                            <td>61-70</td>
                            <td></td>
                            <td>B2</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>46-56</td>
                            <td>51-60</td>
                            <td></td>
                            <td>C1</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>35-45</td>
                            <td>41-50</td>
                            <td></td>
                            <td>C2</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>20-34</td>
                            <td>35-40</td>
                            <td></td>
                            <td>D</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>0-19</td>
                            <td>0-34</td>
                            <td></td>
                            <td>E</td>
                            <td>-</td>
                        </tr>



                    </tbody>
                </table>
            </div>
            <div class="footer">
                <div class="parent">
                    <hr>
                    <h3>Parent </h3>
                </div>
                <div class="teacher">
                    <hr>
                    <h3>Teacher</h3>
                </div>
                <div class="principle">
                    <hr>
                    <h3> Principle/HM</h3>
                </div>

            </div>
        </div>
        


        
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="{% static 'custom.js' %}"></script>

    <script>
        

        // Define the data for the chart
        var data = {
            labels: ['Math', 'Science', 'English', 'History', 'Art'],
            datasets: [
                {
                    label: 'Marks',
                    backgroundColor: [],
                    borderColor: 'rgb(75, 192, 192)',
                    borderWidth: 1,
                    data: [70, 80, 20, 75, 85],
                }
            ]
        };

        // Define the colors for the bars
        var colors = [];
        for (var i = 0; i < data.datasets[0].data.length; i++) {
            var mark = data.datasets[0].data[i];
            if (mark >= 80) {
                colors.push('green');
            } else if (mark >= 40 && mark < 80) {
                colors.push('blue');
            } else {
                colors.push('red');
            }
        }
        data.datasets[0].backgroundColor = colors;

        // Get the canvas element
        var canvas = document.getElementById('myChart');

        // Create the chart object
        var chart = new Chart(canvas, {
            type: 'bar',
            data: data,
            options: {
                
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                
            }
        });


        function generatePDF() {
			html2canvas(document.getElementById("althaf"), {
				onrendered: function(canvas) {
					var imgData = canvas.toDataURL('image/png');
					var doc = new jsPDF();
					doc.addImage(imgData, 'PNG', 10, 10);
					doc.save('myPDF.pdf');
				}
			});
		}


        






        
    </script>

    


    

    

    
</body>
</html>